.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
*.log
addressbook-web-tests/build/tmp/test/jar_extract_7933232528417106334_tmp
addressbook-web-tests/build/tmp/test/jar_extract_79739477869676380_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1002101249472648695_tmp

*_tmp
